.container{
    display:flex;
    height:100vh;
    width: 100vw;


    .left-container{
        width:20%;
        height:100%;
        background-color:lightblue;
        padding-left:30px;
    }

    .main-container{
        width:80%;
        height:100%;
        background-color: rgb(224, 224, 224);
        ;
    }
}